body {
    margin: 0;
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);; 
}
.navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.navbar ul {
    display: flex;
    flex-direction: row; 
    list-style: none; 
    margin-left:-165px; 
    padding: 0;
    
}

.navbar ul li {
    display: flex; /* Устанавливает каждый элемент списка (li) как flex-контейнер для его содержимого */
    margin-right: 10px; /* Добавляет отступ справа у каждого элемента списка */
}

.navbar ul li:hover {
    background-color: #7cc6e5; /* Изменяет фоновый цвет элемента списка при наведении курсора */
    border-radius: 20%; /* Скругляет углы элемента списка при наведении курсора */
}

.navbar ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: black; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри элемента списка */
}

.navbar div {
    display: flex; /* Устанавливает div как flex-контейнер */
    margin-right: 20px; /* Добавляет отступ справа у div */
}


.navbar div a {
    text-decoration: none; /* Убирает подчеркивание у ссылок в div */
    color: black; 
    margin: auto;
}

.navbar div:hover {
    background-color: #4796cf;
    border-radius: 20%; 
}

.media-bomba {
    display:flex;
    margin: 0;
}
.navbar .media-bomba img {
    margin:0;
}
 iframe {
    margin:0;
    width:235px;
    height: 75px;
    border:none;
}

.pikmi {
    text-align: center;
}


.person{
    width:7%;
    margin:auto;
}

.interests {
    width: 30%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction:row;
}

.vlad {
    margin-top: 1.8%;
}
.yo {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/* Стили для изображений внутри контейнера */
.container img {
    border-radius: 35%; /* Скругленные углы изображения */
    box-shadow: 10px 10px 5px gray; /* Добавление тени с серым цветом */
    width: 30%; /* Ширина изображения составляет 50% от ширины родительского элемента */
    height: auto; /* Автоматическое подстраивание высоты для сохранения пропорций */
}   

/* Эффект при наведении на изображение */
.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #8e1027; /* Изменение цвета тени на синий */
}

.berger {
    display:flex;
    height:500px;
}
.berger iframe {
    width:100%;
    height:100%;
}
.API .container .petrik img {
    width: 55%;
}

.API .container .kyoto img {
    width: 75%;
    
}

.API .container .seattle img {
    width: 55%;
}

/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px;
    margin-left: 10px; /* Отступы по бокам */
    transition: 1.5s ease; 
}

/* Эффект при наведении на параграф */
p:hover {
    background-color: #a13333; 
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 30%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    width:35%;
    height:35%;
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
    
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
    margin-bottom: 10px; /* Отступ снизу для изображений */
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px rgb(38, 12, 133); /* Изменение тени на зеленовато-желтую при наведении на изображение */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #db1717; /* Изменение фона ссылки на синий при наведении */
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

.container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video1, .video2, .video3 {
    margin:auto;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px 5px #a13333;
    padding:auto; 
    max-width: 550px;
}

.video1 video, .video2 iframe, .video3 iframe {
    width:100%;
    height:100%;
    margin:auto;
}

footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
}

footer a {
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}

.navbar ul .work {
    position: relative; /* Set the position to relative to enable absolute positioning of its child elements */
    display: flex; /* Use flexbox for laut */
    z-index: 10; /* Set stacking order */
}

.navbar ul .work ul li {
    z-index: 20; /* Ensure list items have the same stacking order as the parent */
    background-color: #a81d1d; /* Set background color */
    margin-bottom: 2px; /* Add space between items */       
}

.navbar ul .work:hover ul {
    display: block; /* Show the dropdown when hovering over the parent */
}

.navbar ul .work ul li:hover {
    background-color: rgb(162, 23, 30); /* Change background color on hover */
    border-radius: 0; /* Remove border radius */
}

.navbar ul .work ul {
    position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
    flex-direction: column; /* Arrange children in a column */
    left: 165px; /* Offset the dropdown 10px from the left of the parent */
    top: 100%; /* Align the top of the dropdown with the top of the parent */
    width: 100px; /* Set a fixed width for the dropdown */
    display: none; /* Initially hide the dropdown */
    padding: 0; /* Remove default padding */
    z-index: 20; /* Set a higher stacking order for the dropdown */
    background-color: pink;
}

.navbar ul .work ul li {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 10px; /* Add bottom margin */
    background-color: unset; /* Remove default background color */
    font-size: 1.2rem; /* Increase font size */
    margin-left: 10px; /* Offset the list item 10px from the left */
    color: black; /* Set text color to black */
}

.navbar ul .work ul li:hover {
    background-color: black; /* Change background color to black on hover */
}

.navbar ul .work ul li:hover a:hover {
    color: white; /* Change text color to white when hovering over the link */
}

.navbar ul .work:hover ul li a {
    color: black; /* Set text color to black when hovering over the parent */
}

.form {
    flex-direction: column; /* Arrange the children of the .form container in a column layout */
}

.form form {
    display: flex; /* Use flexbox for the form layout */
    flex-direction: column; /* Arrange form elements in a column */
    
}

.form form fieldset {
    display: flex; /* Use flexbox for the fieldset layout */
    flex-direction: column; /* Arrange fieldset elements in a column */
    width: 50%; /* Set the width of the fieldset to 50% of the container */
    margin: auto; /* Center the fieldset horizontally */
    margin-top: 30px; /* Add a margin of 30px to the top */
    margin-bottom: 10px; /* Add a margin of 10px to the bottom */

}

.form form fieldset input {
    margin-bottom: 10px; /* Add a margin of 10px to the bottom of each input element */
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);; 
}

.form form fieldset legend {
    text-align: center; /* Center the legend text */
    font-size: 1.2rem; /* Set the font size of the legend text to 1.2rem */
    font-weight: bold; /* Make the legend text bold */
}

.form form button {
    width: 200px; /* Set the width of the button to 200px */
    font-size: 1.2rem; /* Set the font size of the button text to 1.2rem */
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);; /* Set the background color of the button */
    color: rgb(255, 255, 255); /* Set the text color of the button to white */
    margin: auto; /* Center the button horizontally */
    margin-bottom: 20px; /* Add a margin of 20px to the bottom */
}

.form form button:hover {
    font-size: 1.2rem; /* Maintain the font size of the button text on hover */
    background-color: #91130c; /* Change the background color of the button on hover */
    color: rgb(248, 243, 243); /* Change the text color of the button on hover */
}

.form form fieldset {
    width:65%;
}

.form form fieldset {
    width:80%;
}

.math {
    display : flex;
}

.math form {
    display: flex;
    flex-direction:column;
    margin:auto;
    padding-top:20px;
    width:100%;
}

.math form fieldset {
    display: flex;
    flex-direction:column;
    margin:auto;
    width:50%;
    margin-bottom:30px;
}

.math form fieldset legend {
    text-align: center;
    font-size:1.2rem;
}

.math form fieldset .butcont {
    display: flex;
    flex:row;
    width:100%;
    margin-bottom:20px;
}

.math form fieldset input {
    margin-bottom: 10px; /* Add a margin of 10px to the bottom of each input element */
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);; 
}

.math form fieldset .butcont button {
    display:block;
    width:20%;
    box-sizing:border-box;
    height:40px;
    margin: auto;
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);
}

.math form fieldset p {
    display: flex;
    margin:0;
}

.math form fieldset p span {
    margin: auto;
    font-size:1.2rem;
}


.cipsi {
    display:flex;
    height:350px;
}
.cipsi iframe {
    width:100%;
    height:100%;
}

.flex {
    display : flex;
}

.flex form {
    display: flex;
    flex-direction:column;
    margin:auto;
    padding-top:20px;
    width:100%;
}

.flex form fieldset {
    display: flex;
    flex-direction:column;
    margin:auto;
    width:50%;
    margin-bottom:30px;
}

.flex form fieldset legend {
    text-align: center;
    font-size:1.2rem;
}

.flex form fieldset .buttan {
    display: flex;
    flex:row;
    width:100%;
    margin-bottom:20px;
}

.flex form fieldset input {
    margin-bottom: 10px; /* Add a margin of 10px to the bottom of each input element */
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);; 
}

.flex form fieldset .buttan button {
    display:block;
    width:20%;
    box-sizing:border-box;
    height:40px;
    margin: auto;
    background: linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);
}

.flex form fieldset p {
    display: flex;
    margin:0;
}

.flex form fieldset p span {
    margin: auto;
    font-size:1.2rem;
}

@media (max-width:1200px) {
    .API {
        display: flex;
        flex-direction:column;
    }
    .API .petrik {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .API .petrik img, span{
        width: 70%;
        margin: auto;
        height:auto;
    }
    .API .kyoto {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }
    .API .seattle img {
        border-radius:8px;
    }
    .API .kyoto img {
        border-radius:8px;
    }
    .API .petrik span {
        display: inline;
        text-align: center;
        font-size: 1.2rem;
    }
    .API .seattle span {
        display: inline;
        text-align: center;
        font-size: 1.2rem;
    }
    .API .kyoto span {
        display: inline;
        text-align: center;
        font-size: 1.2rem;
    }


}




@media (max-width: 700px) {
    /* При ширине экрана до 700px */
body {
    width:100%;
}

    .burger {
        display: block;
        position: relative;
        width:40px;
        height:40px;
        margin:auto;
        margin-left:20px;
        margin-right:5px;
    }

    .burger span{
        position:absolute;
        width:30px;
        left:5px;
        height:3px;
        background-color: rgb(80, 29, 168);
        bottom: 20px;
    }

    .burger span:nth-child(1) {
        transform: translateY(-10px);
    }
    .burger span:nth-child(3) {
        transform:translateY(10px);
    }
    
    
    .container{
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }
    
  
    .yo p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: 0; /* Центрирование изображения по горизонтали */
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
         /* Перенос элементов на новую строку при необходимости */
        width: 90%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .yo iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .yo iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }

    .navbar div{
        margin:0%;
    }
    .navbar ul {
        position:absolute;
        background-color:  linear-gradient(90deg, rgb(135, 8, 35) 0%, rgba(173, 22, 30, 0.72) 37%, rgb(24, 18, 74) 100%);;
        flex-direction:column;
        width:30%;
        height:auto;
        top: 60px;
        z-index:2;
        margin:0;
        display:none;
    }
    
    .navbar ul li {
        margin-top:10px;
    }
    
    .navbar ul li:hover {
        background:rgb(6, 4, 4);
        transform:scale(1.07);
        transition:0.4s ease;
        border-radius:5%;
    }
    
    .navbar ul li a:hover{
        color:rgb(173, 22, 30, 0.72);
    }
    
    .navbar ul li:nth-child(1) {
       margin-top:20px;
    }
    
    .navbar ul li a {
        margin-left:0;
        font-size: 1.2rem;
    }
    
    .navbar.open ul {
        display:block;
        transform:translateX(100%);
        transition:0.7s ease-in-out;
        right: 30%;
        }
    
    .navbar.open .burger span:nth-child(1){
        transform:translateY(0) rotate(45deg);
    }
    
    .navbar.open .burger span:nth-child(2) {
        opacity:0;
    }
    
    .navbar.open .burger span:nth-child(3) {
        transform:translateY(0) rotate(-45deg);
    }   

    .navbar ul .work ul {
    left: -200px; /* Offset the dropdown 10px from the left of the parent */
    top: 100%; /* Align the top of the dropdown with the top of the parent */
    width: 100px; /* Set a fixed width for the dropdown */
    display: none; /* Initially hide the dropdown */
    padding: 0; /* Remove default padding */
    z-index: 20; /* Set a higher stacking order for the dropdown */
    background-color: pink;
    }
    .math form fieldset {
        width:70%;
    }
    .API .petrik {
        width:100%;
    }
    .API .kyoto {
        width:100%;
    }
    .API .seattle {
        width:100%;
    }
    .API .petrik span {
        font-size: 1.05rem;
    }
    .API .kyoto span {
        font-size: 1.05rem;
    }
    .API .seattle span {
        font-size: 1.05rem;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    /* При ширине экрана от 700px до 900px */

    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 320px; /* Ширина изображения фиксирована */
        height: 200px; /* Высота изображения фиксирована */
        margin: auto; /* Центрирование изображения по горизонтали */
    }

    .yo video {
        margin-top: 20px; /* Отступ сверху для изображений */
        box-shadow: 5px 5px 5px 5px gray; /* Тень для изображений */
        margin: auto; 
        Width:30%;
        height:25%;
}
}










































